configMapGenerator:
  - name: core-deployment-config
generatorOptions:
  disableNameSuffixHash: true
labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/name: forgerock
images:
  - name: ig
    newName: europe-west4-docker.pkg.dev/sbat-gcr-develop/sapig-docker-artifact/securebanking/sapig-core
    newTag: latest
  - name: testdirectory
    newName: europe-west4-docker.pkg.dev/sbat-gcr-develop/sapig-docker-artifact/securebanking/sapig-test-trusted-directory
    newTag: latest
patches:
  - path: core/configmap.yaml
  - path: core/deployment.yaml
  - path: core/secret.yaml
  - patch: |-
      $patch: delete
      apiVersion: v1
      kind: Secret
      metadata:
        name: openig-secrets-env
resources:
  # May need a nicer way of doing the release verison in future
  - https://github.com/ForgeRock/forgeops/kustomize/base/ig?ref=release/7.5-20240402&timeout=90s
  - testtrusteddir/configmap.yaml
  - testtrusteddir/deployment.yaml
  - testtrusteddir/ingress.yaml
  - testtrusteddir/secret.yaml
  - testtrusteddir/service.yaml
secretGenerator:
  - name: mtls-ca-certs
    files:
      - core/ca.crt
  - name: core-secrets